@import "tailwindcss";

@theme {
  --color-primary-200: #f4f4fa;
  --color-primary-400: #b3bae4;
  --color-primary-700: #444a7a;
  --color-primary-800: #2b2e4a;

  --color-secondary-400: #006AFF;
  --color-secondary-200: #00F9FF;

  --color-background: #ffffff;
  --color-foreground: #171717;

  --font-geist-sans: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --background: #0A162D;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.text-transition {
  @apply bg-linear-90 from-[#006AFF] to-[#00F9FF] text-transparent bg-clip-text
}

.bg-gradient {
  @apply bg-linear-90 from-primary-700 to-primary-800 text-transparent
}
